body {
    background-color: #00235a;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
}

table {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

input[type="text"] {
    padding: 5px;
}

.control-zone {
    text-align: center;
}

.input-invalid {
    border: 3px solid red;
}
.value-box {
    background: rgb(95, 159, 248);
    border-radius: 50%;
    width: 140px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.footer {
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px; /* изменение размера шрифта */
    width: 100%; /* to make the footer full-width */
}
.timerStyle {
    font-size: 60px;
    text-align:center;
  }